.github-logo {
    -webkit-filter: invert(1);
    filter: invert(1);
    max-width: 30px;
    height: auto;
}

.linkedin-logo {
    max-width: 30px;
    height: auto;
}

.navigation-text {
    cursor: pointer;
}

.info-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/information-background.svg');
    background-size: cover;
    background-attachment: fixed;

    .name-container {
        width: fit-content;
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
            font-size: 6.5em;
            color: white;
            line-height: normal;
        }
    }

    .description {
        padding-top: 10px;
        color: white;
    }
}

.experience-container {
    background-color: #f4efe0;
    padding: 65px 0px;

    .experiences {
        width: 70vw;
        margin: 20px auto;

        .experience-row {
            padding: 25px 0px;

            .image-container {
                background-color: #f4efe0;
                padding: 0px 10px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .employer-name {
                color: lightseagreen;
            }

            .position-and-time {
                color: rgb(143, 143, 143);
            }

            p {
                color: #4d5055;
            }
        }
    }
}

.projects-container {
    background-color: white;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;

    .slider-container {
        align-self: center;
        justify-self: center;
        margin: 50px 0px;

        .active {
            display: flex;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 5px 10px 18px #888888;

            .arrow-icon {
                transform: scale(2);
                cursor: pointer;
                height: min-content;
                align-self: center;

                &.left {
                    margin-right: 25px;
                }

                &.right {
                    margin-left: 25px;
                }
            }

            .slider-content {
                display: flex;
                flex-direction: column;
                word-break: break-word;

                h1 {
                    color: lightseagreen;
                    align-self: center;
                }

                p {
                    color: #4d5055;
                }
            }
        }

        .inactive {
            display: none;
        }
    }
}

@media (min-width: 651px) {
    .section-title {

        h1 {
            display: flex;
            flex-direction: row;
            color: lightseagreen;
        }
    
        h1:before, h1:after{
            content: "";
            flex: 1 1;
            border-bottom: 2px solid lightseagreen;
            margin: auto;
        }
    
        h1:before {
            margin-left: 60px;
            margin-right: 10px
        }
    
        h1:after {
            margin-right: 60px;
            margin-left: 10px
        }
    }
}

@media (max-width: 650px) {
    .section-title {
        display: flex;
        justify-content: center;

        h1 {
            color: lightseagreen;
        }
    }
}
